/* Responsive */
@media screen and (max-width: 800px) {
  .timeline::after {
    left: 28px;
  }

  .timeline {
    transform: rotate(0deg);
  }

  .container {
    width: 100%;
  }

  .content {
    transform: rotate(0deg);
    font-size: 14px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

  progress {
    width: 240px;
  }

  #inicio {
    flex-direction: column;
    text-align: center;
  }
  img#jdjp {
    width: 120px;
    height: 140px;
  }
  div#imagen {
    width: 100%;
    justify-content: center;
  }
  div#presentacion {
    width: 100%;
    font-size: 22px;
  }
  #slider {
    display: flex;
    position: absolute;
    height: 25px;
    width: 300px;
    transform: rotate(0deg);
  }

  #proyectos {
    display: flex;
    flex-direction: column;
    margin: 2em 0em;
    height: initial;
  }

  #proProyectos {
    height: 300px;
    width: 265px;
  }

  #pro-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
    gap: 50px 20px;
  }

  #testimonios {
    height: 350px;
    width: auto;
  }

  #testimonios video {
    height: auto;
    width: 250px;
  }

  #name {
    font-size: 16px;
  }

  #contacto {
    display: block;
  }

  #media {
    margin: 2em 6.5em;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #form {
    width: initial;
  }

  .main-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.25s linear;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
  }

  .main-nav.show {
    margin-left: 0;
  }

  .nav-links {
    padding: 0px;
    background-color: #a8dadc;
    opacity: 90%;
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .link-item {
    margin-top: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

  .link-item::after {
    position: absolute;
    content: "";
    background-color: #000;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }

  .link-item:hover::after {
    width: 100%;
  }

  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0em 1em;
  }

  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }

  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }

  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }

  .button-menu.close span:nth-child(3) {
    display: none;
  }

  .search-container {
    display: none;
  }
}
