/* Importar fuente desde local. */
@font-face {
    font-family: "Helvetica-JDJP";
    src: url(/css/font/HelveticaNeueLTStd-Th.otf);
}


body {
    background-color: #F1FAEE;
    font-family: "Helvetica-JDJP";
}

h2 {
    text-align: center;
}

header, footer {
    background-color: #A8DADC;
    height: 5em;
    width: 100%;
    display: flex;
}

/* Inicio */

header div{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: inherit;
    font-weight: bold;
    font-size: 22px;
    padding-left: 2em;
}

header nav {
    display: flex;
    align-items: center;
    padding-right: 50px;
    
}

a {
    text-align: center;
    width: 4em;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin: 0px 15px;
}

#inicio{
    display: flex;
    height: 25em;
    margin: 0em 2em;
}


#presentacion {
    width: 75%;
    display: flex;
    font-size: xx-large;
    align-items: center;
}

#imagen {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

img#jdjp {
    width: 200px;
    height: 240px;
    border-radius: 50%; 
}

/* Proyectos */

#slider {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 10px 10px;
    transform: rotate(90deg);
}

/* Slider */
input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  
  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #000000;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #457B9D;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #000000;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #457B9D;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }

  input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }

  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #457B9D;
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #000000;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #000000;
  }

#pro-lista li{
    list-style-type: none;
}

#pro-lista img {
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
}
video {
    width: 150px;
    height: 50px;
}

footer {
    align-items: center;
    justify-content: center;
}


