@font-face {
    font-family: "Helvetica-JDJP";
    src: url(HelveticaNeueLTStd-Th.otf);
}

img#jdjp {
    width: 200px;
    height: 240px;
    border-radius: 50%; 
}

#proyectos video {
    width: 150px;
    height: 50px;
}

body {
    background-color: #F1FAEE;
    font-family: "Helvetica-JDJP";
}

header, footer {
    background-color: #A8DADC;
    height: 4em;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 16px;
}


a {
    text-decoration: none;
    color: #000;
}

#pro-lista img {
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


